.link-style{
    margin-left: 10px;
    padding: 5px 7px 5px 7px;
    background-color: rgb(32, 68, 146);
    border-radius: 5px;
    color:white;
}
.link-style:hover{
    margin-left: 10px;
    padding: 5px 7px 5px 7px;
    background-color: rgba(152, 214, 201, 0.5);
    border-radius: 5px;
    color:rgb(0, 8, 46);
}
@media (max-width: 640px) { 

    .link-style{
        margin-left: 5px;
        padding: 3px 4px 3px 4px;
        background-color: rgb(32, 68, 146);
        border-radius: 5px;
        color:rgb(255, 255, 255);
    }
}